<div class="footer">
  <div class="footer__content">
    <div class="footer__content--row footer__description">
      <h2>Estadísticas covid19</h2>
      <p>Los gráficos muestran la evolución diaria del avance del coronavirus en España:
         número de casos totales, personas recuperadas, que han fallecido...<br>
         Datos oficiales del ministerio de sanidad</p>
      <div class="footer__social">
        <a class="footer__link footer__link--icon" href="https://twitter.com/Tecnual" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="footer__link" href="https://github.com/tecnual" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="footer__content--row footer__sources">
      <h2>Fuentes</h2>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="https://covid19.isciii.es/">Instituto de Salud Carlos III (ISCIII)</a></li>
        <li class="footer__item"><a class="footer__link" href="https://www.isciii.es/QueHacemos/Servicios/VigilanciaSaludPublicaRENAVE/EnfermedadesTransmisibles/Paginas/ProtocolosRENAVE.aspx">Red Nacional de Vigilancia de la Salud Pública (RENAVE)</a></li>
        <li class="footer__item"><a class="footer__link" href="https://www.mscbs.gob.es/en/profesionales/saludPublica/ccayes/alertasActual/nCov-China/home.htm">Ministerio de Sanidad, Consumo y Bienestar Social(MSCBS)</a></li>
        <li class="footer__item"><a class="footer__link" href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Canadian Society of Safety Engineering (CSSE)</a></li>
      </ul>
    </div>
    <div class="footer__content--row footer__contact">
      <h2>Contacto</h2>
      <p><a class="footer__link" href="mailto:info.covid@tecnual.com"><i class="fa fa-envelope"> </i> info.covid@tecnual.com</a></p>
    </div>
  </div>
  <div class="footer__copyleft">
      <p class=""><small class="text-white-50">2020. All Rights Granted.</small></p>
  </div>
</div>


<!-- <div class="footer__powered">
    <h2>Powered by Tecnual</h2>
    <h3>Fuente: RENAVE-ISCIII-CCAES</h3>
  </div>
  <div class="footer__social">
    <a href="https://twitter.com/Tecnual" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://github.com/tecnual" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div> -->
