.summary {
  &__list {
    list-style: none;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: .8rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-primary-light-1;
    }

    &--key {

    }

    &--value {
      color: $color-warn;
    }

  }

}
