<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title class="heading-secondary card__header-title">{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
  <canvas baseChart
    [datasets]="chartData.data.datasets"
    [labels]="chartData.data.labels"
    [options]="chartData.options"
    [colors]="chartData.colors"
    [legend]="chartData.legend"
    [chartType]="chartData.type"
    [plugins]="chartData.plugins">
  </canvas>
  </mat-card-content>
</mat-card>
