.content {
  background-color: mat-color($covid-primary, 50);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 1rem;

  @include respond(phone) {
    padding: 1rem 0;
  }

  &__panel {
    
  }
}
