$color-primary: mat-color($covid-primary);
$color-primary-light-1: mat-color($covid-primary, 50);
$color-primary-light-2: mat-color($covid-primary, 100);
$color-primary-dark: mat-color($covid-primary, 900);;

$color-secondary: #15fcff;
$color-secondary-light: #35eeff;
$color-secondary-dark: #145060;

$color-warn: mat-color($covid-warn);
$color-warn-light: #f08763;
$color-warn-dark: #963514;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;
$color-grey-light-3: #bbb;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
