$color-primary: #703050;
$color-primary-light: #702060;
$color-primary-dark: #250515;

$color-secondary: #2aafbb;
$color-secondary-light: #35eeff;
$color-secondary-dark: #145060;

$color-warn: #e55525;
$color-warn-light: #f08763;
$color-warn-dark: #963514;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
