.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  height: 100vh;
}

.card {
  margin: 1rem;
  flex-shrink: 1;

  &__header {
      margin: 0 -16px !important;
      border-bottom: .1rem solid $color-primary-light-2;
    &-title {

    }
  }

  &__content {
  }

  &__footer {
    margin: 0 2rem;
    padding: 0 4rem;
    border-top: .1rem solid $color-primary-light-2;
    text-align: center;
  }
}
