.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  height: 100vh;
}

.card {
  margin: 1rem;
  flex-shrink: 1;

  &__title {
    margin: 0 -16px;
    padding: 0 0 8px 16px;
    border-bottom: .1rem solid $color-grey-light-3;
  }

  &__footer {
    margin: 0 2rem;
    padding: 0 4rem;
    border-top: .1rem solid $color-grey-light-3;
    text-align: center;
  }
}
